@model _Task

@{
    ViewData["Title"] = "Index";
    IEnumerable<_Task> taskArray = ViewData["CurrentTasks"] as IEnumerable<_Task>;
    string userID = ViewData["UserID"] as string;
}

<h1>Index</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserID" value=@userID />
    <div class="form-group">
        <label asp-for="Text" class="control-label">Action Needed:</label>
        <input asp-for="Text" class="form-control" required />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label">Date:</label>
        <input asp-for="Date" class="form-control" required />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in taskArray)
        {
            <tr>
                <td>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" value=@item.Id />
                        <input type="hidden" asp-for="UserID" value=@userID />
                        <input type="hidden" asp-for="Text" value=@item.Text />
                        <input type="hidden" asp-for="Done" value=@item.Done />
                        <input type="hidden" asp-for="Date" value=@item.Date />
                        @if (item.Done)
                        {
                            <button type="submit" class="checkboxbutton">
                                check_box
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="checkboxbutton">
                                check_box_outline_blank
                            </button>
                        }

                    </form>
                    <div>
                    </div>
                </td>
                @if (item.Done)
                {
                    <td class="linethrough">
                        @Html.DisplayFor(modelItem => item.Text)

                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" value=@item.Id />
                        <button type="submit" class="task-delete">remove_circle</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
